# Build folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# IDEs
.idea/
.vscode/

# NuGet
packages/
*.nupkg

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Temp files
*.tmp
*.cache

# Personal / local files (optional)
TODOs.txt